global
    maxconn 20000
    nbthread 2
    cpu-map 1 0
    cpu-map 2 1
    log /dev/null local0
    tune.bufsize 16384
    tune.maxaccept 100

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    option dontlognull
    no log

frontend http_front
    bind *:8083
    default_backend backend_servers

backend backend_servers
    balance roundrobin
    server backend1 backend:80 check
